body{
    height: 1000vh;
}
@media (max-width: 1200px) {
    .custom-responsive-width {
        width: 90% !important;
        display: block !important;
    }
}
.Salah{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    width: 25%;
    border-radius: 20px;
margin-top: 30px;
}
.Salah .times .row{
    margin: 10px;
    padding: 10px;
    color: aliceblue;
    border-radius: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.tasbeh{
    border: none;
    width: fit-content;
    margin: 100px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color:aliceblue;
}

.azkar .row button{
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: aliceblue;
}